@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/*doc
name: Raleway font
description: primary font family for all text in pulse.
code:
  <h1>This is raleway font</h1>
*/

body{
  margin: 0px;
  background-color: white;
  font-family: 'raleway', sans-serif;
  // font-family: sans-serif;
  font-weight: 100;
}

.navbar.navbar-inverse{
  margin-bottom: 0px !important;
  border-radius: 0px !important;
}

.navbar-inverse .navbar-brand{
  color: white !important;
}

.navbar-inverse .navbar-nav > li > a{
  color: white !important;
}

.logo{
  margin-top: 100px;
  text-align: center;
}

.signin-page .card{
  margin-top: 20px;
  box-shadow: 0px 30px 30px 0px #c6c6c6;
}

.signin-page input[type=submit] {
  background-color: #2196f3;
  border: 0px;
  /*border-radius: 0px;*/
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  padding: 7px 15px;
}

.signin-page a {
  font-size: 12px;
  float: right;
}

.signin-page label {
  font-size: 14px !important;
  font-weight: 100 !important;
}

.card {
  background-color: white;
  display: inline-block;
  box-shadow: -2px 2px 2px #dfdfdf;
  padding: 30px 35px;
  border: 1px solid #d2d2d2;
}

.form-actions{
  display: inline-block;
}

.forgot-password-submit input {
  width: 85%;
}

.forgot-password-email input {
  width: 85%;
}

.digital-assets-page{
  background: white;
  padding: 15px;
}

.digital-asset-indicators {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 10px;
}

.successful {
  background-color: #009688;
}

.errored {
  background-color: #F44336;
}

.no-data {
  background-color: #aeaeae;
}

.glyphicon-question-sign {
  cursor: help;
}

.date-text {
  font-size: 11px;
  color: grey;
}

td a{
  width: 250px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.errors-column{
  width: 250px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.signal-area{
  width: 20px;
}

.page-title{
  font-size: 24px;
  margin-bottom: 20px;
}

.table-area{
  padding-top: 20px;
  border-left: 1px solid #f1f1f1;
  margin-left: -1px;
}

.content-area{
  padding: 0px;
}

.sidebar-area{
  padding: 0px;
  padding-top: 20px;
  border-right: 1px solid #f1f1f1;
  height: 100vh;
}

.sidebar-area .search-area{
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-area .page-title{
  margin-bottom: 5px;
  font-size: 18px;
}

.content-asset-search{
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ddd;
}

.glyphicon-search{
  margin-left: -25px;
  color: rgba(0,0,0,0.3);
}

.custom-btn{
  border-radius:4px;
  padding: 3px 15px;
  border: 1px solid #ddd;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
   transition:all 0.5s ease;
}

.custom-btn:hover{
  background: black;
  color: white;
  border-color: black;
}

.nav-pills a{
  color: #333 !important;
  border-right: 5px solid transparent;
}

.nav-pills .active a{
  background: #f9f9f9 !important;
  border-radius: 0px !important;
  color: black !important;
  // border-left: 5px solid black;
  // border-bottom: 1px solid #f1f1f1;
  // border-top: 1px solid #f1f1f1;
  border-right: 5px solid black;
  font-weight: bold;
}



.nav-pills a:hover{
  background: #f9f9f9 !important;
}

.indication-dot{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  float: right;
  background: red;
  margin-top: 5px;
}

.indication-dot-green{
  background: #009688;
}

.indication-dot-red{
  background: #ef5350;
}

.indication-dot-grey{
  background: #aeaeae;
}
