<%= javascript_include_tag "react-pivot" %>
<div id="report_container"></div>

<script type="text/javascript">

var rows = <%= @report_data.html_safe %>;

$(document).on('turbolinks:load', function() {
  ReactPivot(document.getElementById('report_container'), {
    rows: rows,
    dimensions: dimensions,
    calculations: calculations,
    reduce: reduce,
    tableClassName: "table table-striped"
  });
});


</script>