<div class="col-sm-12 content-area">
  <div class="col-sm-2 sidebar-area">
    <%= render partial: "sidebar" %>
  </div>
  <div class="col-sm-10">
  	<div class="page-title">Showing results with <strong>"Search"</strong></div>
    <%= render partial: "table", locals: {links: @links, show_errors: true}%>
  </div>
</div>