<div class="col-sm-12 content-area">
  <div class="col-sm-2 sidebar-area">
    <%= render "sidebar", q: @q %>
  </div>
  <div class="col-sm-10 table-area">
  	<div class="page-title">Showing <strong>Successful</strong></div>
    <%= render "table", links: @links, show_errors: false %>
  </div>
</div>

<%= javascript_include_tag "jquery.timeago.js" %>
