<div class="col-sm-12">
  <div class="col-sm-2">
    <%= render partial:  "sidebar" %>
  </div>
  <div class="col-sm-10">
    <%= render partial:  "table", locals: {links: @links, show_errors: true}%>
  </div>
</div>