<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= current_user.present? ? report_path : root_path %>>
        <table>
          <tr>
            <td>Impact Tracker</td>
          </tr>
        </table>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-btn">
          <%= link_to "Data Puller", all_digital_asset_path %>
        </li>
        <li>
          <% if current_user.present? %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>